[submodule "serval_wrapper/cpr"]
	path = serval_wrapper/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "muparser"]
	path = muparser
	url = https://github.com/carpe-noctem-cassel/muparser.git
	branch = catkin-pkg
[submodule "serval/serval-dna"]
	path = serval/serval-dna
	url = https://github.com/umr-ds/serval-dna.git
